.game-container {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-rows: 25% 50% 25%;
  grid-template-columns: 25% 50% 25%;
  background-color: #7945FF;
  justify-content: center;
  align-items: center;
  position: relative;
}