@import '../../sass.styles/variables';
@import '../../sass.styles/mixins';

.play-vs-player-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $light_purple;
}