@import 'variables';

@font-face {
  font-family: 'Space Grotesk';
  src: url('../assets/fonts/SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
}

@mixin Buttons($bgColor, $width: 335px) {
  height: 72px;
  width: $width;
  background-color: $bgColor;
  border: 3px solid $black;
  border-radius: 20px;
  box-shadow: $shadow;
  
}

@mixin FontStyle($type){
  font-family: 'Space Grotesk';
  @if $type == 'paragraph' {
    font-weight: normal;
    line-height: 21px;
    font-size: 16px;
  } @else if $type == 'HeadingL' {
    font-weight: bold; 
    line-height: 71px;
    font-size: 56px;
  }  @else if $type == 'HeadingM' {
    font-weight: bold;
    line-height: 31px;
    font-size: 24px;
  } @else if $type == 'HeadingS' {
    font-weight: bold;
    line-height: 26px;
    font-size: 20px;
  } @else if $type == 'HeadingXS' {
    font-weight: bold;
    line-height: 21px;
    font-size: 16px;
  }
}
