@import '../../sass.styles/variables.scss';
.board-container {
  margin-top: 50px;
  width: 335px;
  position: relative;
}

.bottom-layer,
.token-grid,
.top-layer,
.selector-grid {
  position: absolute;
  top: 0;
  right: 0;
}

.bottom-layer {
  z-index: 1;
}

.token-grid {
  z-index: 2;
  width: 335px;
  height: 285px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.top-layer {
  z-index: 3;
}

.selector-grid {
  z-index: 4;
  width: 335px;
  height: 285px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);

   .win-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 5px solid $white;
   }
}
