@import '../../sass.styles/variables';
@import '../../sass.styles/mixins';

.game-rules-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $light_purple;
}

.game-rules {
    width: 335px;
    height: 586px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: $white;
    border: 3px solid $black;
    border-radius: 40px;
    box-shadow: $shadow;
    padding: 27px 20px;
    @include FontStyle('paragraph');

    .game-rules-title {
        @include FontStyle('HeadingL');
        margin-bottom: 29px;
    }

    .game-rules-subtitle {
        @include FontStyle('HeadingS');
        align-self: flex-start;
        color: $light_purple;
        margin-bottom: 16px;
    }

    p {
        margin-bottom: 33px;
    }

    .instructions-container {
        width: 295px;
        height: 240px;
    }

    .instructions {
      counter-reset: list;
      list-style: none;
      @include FontStyle('paragraph');
      
      li {
        counter-increment: list;
        position: relative;
        padding-left: 19px;
        margin-bottom: 10px;
        &:before {
          content: counter(list);
          margin-right: 5px;
          position: absolute;
          left: 0;
          @include FontStyle('HeadingXS');
        }
      }
    }

      .check-button {
        width: 64px;
        height: 64px;
        position: relative;
        top: 20px;
      }
}


