.board-container {
    grid-row: 2;
    grid-column: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 632px;
    height: 584px;
    position: relative;
}



.white-board {
    position: absolute;
    left: 0;
    bottom: 8px;
}