@import '../../sass.styles/variables';
@import '../../sass.styles/mixins';

.player-scores-container {
    width: 359px;
    height: 81px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 12px;
   
    .player-one-box, .player-two-box {
        
        width: 142px;
        height: 81px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $white;
        border: 3px solid $black;
        border-radius: 20px;
        box-shadow: $shadow;

        
        .player-one-name, .player-two-name {
            @include FontStyle('HeadingXS');
        }
    }

    .player-two-box{
        margin-left: 21px;
    }

    .player-one-image {
        left: 8px;
    }

    .player-two-image {
        right:8px;
    }

    img {
        position: absolute;
        width: 51px;
        height: 59px;
    }
}

@media only screen and (min-width: 768px) {
    .player-scores-container {
        width: 633px;
        height: 100px;
        right: 0px;

        .player-one-box, .player-two-box {
            width: 272px;
            height: 100px;
        }

        .player-two-box{
            margin-left: 41px;
        }
    }
}

